* {
    box-sizing: border-box;
  }

.container {
    display: flex;
    flex-direction: column;
}

.columns {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: auto 30px;
}

.column > * {
    width: 100%;
    margin: 5px auto;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    height: 50px;
    margin-top: 1px;
}

.empty {
    background-color: #ededed;
}

.filled {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #4dadea;
}

.flow {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a77471;
    background-color: #f4e2e2;
    border: 1px solid #a77471;
}

.btn {
    text-transform: uppercase;
}